

<!DOCTYPE html>
<html>

<head>

  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="🕹Opium Games is a free unblocked games service hosting over 100+ unblocked games, also includes many selectable proxies and emulators to use along with tab cloakers and history hiders! 🎮">
  <meta name="author" content="CybriaTech">
  <meta name="keywords" content="games, unblocked games, unblocked games, video games, unity, webgl, swf, html5, cybriagames, cybriagames sequel, emulators">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://opium-games.com" />
  <meta property="og:title" content="Opium Games" />
  <meta property="og:description" content="🕹Opium Games is a free unblocked games service hosting over 100+ unblocked games, also includes many selectable proxies and emulators to use along with tab cloakers and history hiders! 🎮" />
  <meta property="og:image" content="/i/l/opium-orig.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://opium-games.com/" />
  <meta property="twitter:title" content="Opium Games" />
  <meta property="twitter:description" content="🕹Opium Games is a free unblocked games service hosting over 100+ unblocked games, also includes many selectable proxies and emulators to use along with tab cloakers and history hiders! 🎮" />
  <meta property="twitter:image" content="/i/l/opium-orig.png" />

<!-- Favicons -->
  <link rel="icon" type="image/png" href="/i/f/logo-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/i/f/logo-32x32.png" sizes="32x32">
  <link rel="apple-touch-icon" href="/i/f/apple-touch-icon.png" sizes="180x180">

  <!-- Google -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-20CSCVKLF3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-20CSCVKLF3');
  </script>

  <!-- Title -->
  <title>Example - Opium Games</title>

  <!-- CSS -->
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/css/g-index.css" rel="stylesheet" type="text/css" />
  <link href="/css/portable.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" type="text/css" />

  <!-- JS -->
  <script src="/lib/js/jquery-3.4.1.min.js"></script>
</head>
<body>
  <script src="/js/header.js"></script>
  <br>
  <main style="min-height: 100vh;">
  <div id="embed-screen" class="embed-screen">
    <div id="embed-body" class="embed-body">
      <button id="close" class="close-btn"><i class="fas fa-times"></i></button>
      <p class="embed-title">Embed Game</p>
      <div class="copy-area">
      <input class="embed-code" id="embed-code" type="text" readonly>
      <button class="copy-btn" id="copy-btn" onclick="copy()"><i class="fas fa-copy"></i></button>
      </div>
  </div>
</div>
    <div id="game-body">
      <div id="game-frame">
        <iframe class="frame" id="frame" src="https://example.com/" frameborder="0" allowfullscreen></iframe>
        <div class="game-bar">
          <div class="left">
            <p class="game-index-title">Example</p>
          </div>
          <div class="right">
            <div class="like">
              <button class="like-btn" id="like-btn" title="Like" onclick="like()"><i class="fas fa-thumbs-up"></i></button>
              <p class="like-amount">0</p>
            </div>
            <div class="dislike">
              <button class="dislike-btn" id="dislike-btn" title="Dislike" onclick="dislike()"><i class="fas fa-thumbs-down"></i></button>
              <p class="dislike-amount">0</p>
            </div>
            <div class="bar-divider"></div>
            <button title="Embed Game" class="embed" id="embed"><i class="fas fa-code"></i></button>
            <button title="Redirect To Game" class="redir" onclick="window.location.href='https://example.com/';"><i class="fas fa-arrow-up-right-from-square"></i></button>
            <button title="Fullscreen" id="full" class="full"><i class="fas fa-expand"></i></button>
          </div>
        </div>
      </div>
  </main>
  <br>
  <br>
  <script src="/js/footer.js"></script>
  <script src="/js/review.js"></script>
  <script>
$("#full").on('click', function () {
    requestFullScreen(document.getElementById('frame'));
});

$("#_exit_full_screen").on('click', cancelFullScreen);

function requestFullScreen(element) {
    var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen;

    if (requestMethod) {
        requestMethod.call(element);
    } else if (typeof window.ActiveXObject !== "undefined") {
        var wscript = new ActiveXObject("WScript.Shell");
        if (wscript !== null) {
            wscript.SendKeys("{F11}");
        }
    }
}

function cancelFullScreen() {
    var requestMethod = document.cancelFullScreen || document.webkitCancelFullScreen || document.mozCancelFullScreen || document.msExitFullscreen;

    if (requestMethod) {
        requestMethod.call(document);
    } else if (typeof window.ActiveXObject !== "undefined") {
        var wscript = new ActiveXObject("WScript.Shell");
        if (wscript !== null) {
            wscript.SendKeys("{F11}");
        }
    }
}

if (document.addEventListener) {
    document.addEventListener('fullscreenchange', exitHandler, false);
    document.addEventListener('webkitfullscreenchange', exitHandler, false);
    document.addEventListener('mozfullscreenchange', exitHandler, false);
    document.addEventListener('MSFullscreenChange', exitHandler, false);
}

function exitHandler() {
    if (!document.fullscreenElement && !document.webkitIsFullScreen && !document.mozFullScreen && !document.msFullscreenElement) {
        cancelFullScreen();
    }
}

document.addEventListener('DOMContentLoaded', function () {
  const openPopupBtn = document.getElementById('embed');
  const closePopupBtn = document.getElementById('close');
  const popupContainer = document.getElementById('embed-screen');

  openPopupBtn.addEventListener('click', function () {
    popupContainer.style.display = 'flex';
  });

  closePopupBtn.addEventListener('click', function () {
    popupContainer.style.display = 'none';
  });
});

document.addEventListener("DOMContentLoaded", function() {
    var gameurl = window.location.href;

    var embedCodeInput = document.getElementById("embed-code");

    if(embedCodeInput) {
        var embedUrl = gameurl + "game";

        var iframe = '<iframe src="' + embedUrl + '" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>';

        embedCodeInput.value = iframe;
    }
});

function copy() {
  var copyText = document.getElementById("embed-code");
  copyText.select();
  document.execCommand("copy");

  var copybtn = document.getElementById("copy-btn");
  copybtn.innerHTML = '<i class="fas fa-check"></i>';

  setTimeout(function() {
    copybtn.innerHTML = '<i class="fas fa-copy"></i>';
  }, 1000);
}
  </script>
</body>
</html>